.env
.DS_Store

### Xcode ###
## User settings
xcuserdata/

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

keen_app/**/Podfile.lock
keen_app/Pods/**
keen_app/**/Pods/**
